.conversor {
    width:500px;
    height:auto;
    border:1px solid #e2e2e2;
    border-radius:5px;
    padding:20px;
    box-sizing:border-box;
    margin:40px auto;
}

.conversor p {
    font-size:30px;
}

.conversor h2 {
    color:rgb(90, 199, 250);
}

.conversor hr {
    margin:40px 0;
    border:0;
    background-color:#e2e2e2;
    height:1px;
}