.conversor {
    width:500px;
    height:auto;
    border:1px solid #e2e2e2;
    border-radius:5px;
    padding:20px;
    box-sizing:border-box;
    margin:40px auto;
}

.conversor h2 {
    font-size:25px;
    color:gray;
}

.conversor p {
    color:#aace7c;
    font-weight:bold;
    font-size:23px;
}

.conversor hr {
    margin:40px 0;
    border:0;
    background-color:#e2e2e2;
    height:1px;
}

.conversor a:link, .conversor a:hover, .conversor a:active, .conversor a:visited {
    color:#97cce4;
    display:block;
    margin:0 0 30px 0;
}

.conversor label {
    margin:20px;
    display:inline-table;
    justify-content:center;
}

.conversor select {
    padding:10px;
    box-sizing:border-box;
    border-radius:3px;
    outline:0;
    border:1px solid #efefef;
    margin-left:10px;
    vertical-align:middle;
}

.conversor input[type='number'] {
    padding:10px;
    box-sizing:border-box;
    border-radius:3px;
    outline:0;
    border:1px solid #efefef;
}

.conversor input[type='number']:focus {
    border:1px solid #a7e3ff;
    transition:ease-in .4s;
}

.conversor input[type='button'] {
    padding:10px;
    box-sizing:border-box;
    border-radius:3px;
    outline:0;
    border:1px solid #ececec;
    margin:0 10px;
    background-color:#f9f9f9;
    cursor:pointer;
}

.conversor input[type='button']:hover {
    background-color:#f9f9f9;
    border:1px solid #a7e3ff;
    transition:ease-in .4s;
}